{{ define "main" }}
<div class="content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="issues-list">
        {{ range .Pages }}
        <li class="issue">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
            <a href="{{ .Params.issue_link }}" class="button" target="_blank">View on GitLab</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
