.disclaimer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    background-color: #f8f9fa;
    border-top: 3px solid #007bff;
    padding: 10px;
    margin: 0;
    z-index: 1000;
    max-width: 300px; /* Adjust as needed */
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1);
}
