.issues-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.issue {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.issue h2 {
    margin: 0 0 10px 0;
}

.issue h2 a {
    color: #007bff;
    text-decoration: none;
}

.issue p {
    margin: 0 0 10px 0;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}
