/* Base styles to ensure accessibility and a modern look */
body {
    background-color: #f0f2f5; /* A soft, comforting background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Optimized for readability */
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Container for content */
.container {
    max-width: 60rem; /* 960px equivalent */
    margin: auto;
    padding: 2rem;
    overflow: hidden;
}

/* Hero/Header styles for impact and attention */
header.hero {
    background-color: #007bff; /* A bold, inviting blue */
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

header.hero h1 {
    margin: 0.5rem 0;
}

/* Introduction section for personality and warmth */
section.intro {
    background-color: #ffffff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1); /* A subtle touch of depth */
}

section.intro h2 {
    color: #007bff; /* Echoing the hero's vibrancy */
    margin-bottom: 1rem;
}

/* Buttons that call for action with style */
button, .button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase; /* Adding character */
    letter-spacing: 0.0625rem;
}

button:hover, .button:hover {
    background-color: #0056b3; /* A deeper shade for interaction */
}

/* Footer to ground the site with consistency and flair */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design for flexibility and accessibility */
@media (max-width: 48rem) { /* Adjusts for devices less than 768px */
    .container {
        padding: 1rem;
    }

    header.hero h1 {
        font-size: 1.5rem;
    }

    section.intro h2 {
        font-size: 1.25rem;
    }
}
