{{ define "main" }}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/disclaimer.css">
<div class="container">

    <section class="intro">
        <h2>Hey there, I'm Charlotte!</h2>
        <p>Welcome to my little corner of the web where I curate "good first issues" from GitLab to help newcomers dive
            into open-source contributions. This page serves as a beacon for those who want to start their journey in
            the world of open-source but don't know where to begin.</p>
        <p>Whether you're here to make your first merge request or just exploring, I hope you find this resource
            helpful. Dive in and start contributing to the wonderful world of open-source projects!</p>
    </section>

    <!-- Any other content sections you want on your homepage -->

</div>

<div class="flex.justify-between">
    <footer class="disclaimer">Disclaimer: This site is lovingly crafted by a random girl who's just really into
        open-source stuff. It's not affiliated with, endorsed by, or connected to GitLab Inc. in any official way.
        Consider this just a passion project to connect newcomers with great first issues.
    </footer>
</div>

{{ end }}
