<link rel="stylesheet" href="/css/disclaimer.css">
<div class="flex.justify-between">
    <footer class="disclaimer">Disclaimer: This site is lovingly crafted by a random girl who's just really into
        open-source stuff. It's not affiliated with, endorsed by, or connected to GitLab Inc. in any official way.
        Consider this just a passion project to connect newcomers with great first issues.
    </footer>
</div>